#colorPickerModal {
  position: absolute;
  top: -30px;
  left: 146px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
  background-color: var(--surface-primary) !important;
  border-radius: 4px;

  .chrome-picker {
    background-color: transparent !important;
    box-shadow: none !important;

    input,
    label {
      color: var(--text-color-primary) !important;
    }

    input {
      margin: 0;
    }

    svg {
      fill: var(--text-color-primary) !important;

      &:hover {
        fill: var(--ui-accent-color-dark) !important;
        background-color: var(--surface-secondary) !important;
      }
    }
  }

  .action-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 0 8px 8px 8px;

    button {
      box-shadow: none;
      background-color: transparent;

      color: var(--text-color-primary);

      &:hover {
        color: var(--ui-accent-color-dark);
      }

      &:active {
        position: static;
      }
    }
  }
}

#colorPickerWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

#colorBackgroundInfo {
  display: inherit;
  align-items: inherit;
  gap: inherit;

  margin-right: 8px;

  > p {
    color: var(--text-color-secondary);
    font-size: 14px;
  }
}

#colorBackgroundPreview {
  border-radius: 20px;
  width: 40px;
  height: 40px;

  background-color: white;
  border: 1px solid var(--text-color-secondary);
}

#colorPickerBtn {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  gap: 8px;

  > img {
    width: 16px;
    height: 16px;
  }
}
