input {
  background-color: var(--surface-secondary);

  border: none;
  border-bottom: none;
  border-radius: var(--menu-border-radius);

  color: var(--text-color-primary);
  text-align: center;

  &[type="number"] &[type="radio"] {
    height: 30px;
  }

  &:hover::-webkit-input-placeholder {
    margin-bottom: 5px;
  }

  &:focus {
    outline: 2px solid var(--ui-accent-color);
  }

  &:disabled {
    color: var(--text-color-secondary);
    background-color: var(--surface-primary);
    border-color: var(--text-color-secondary);
  }
}
