.new-stream-task-tile {
  border-radius: 5px;
  padding: 8px;
}

.new-stream-task-tile,
#streamTaskTitleInputWrapper {
  .dynamic-text-area {
    min-width: 100px;
    max-width: 100%;
    width: 100%;

    font-size: 16px;
    border: none;
  }
}

.stream-task-tile {
  border-radius: 5px;
  min-height: 60px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-align: left;

  background-color: var(--surface-primary);

  position: relative;
  margin-bottom: 12px;

  p {
    word-break: break-word;
  }

  .more-options-btn-wrapper {
    width: 30px;
    display: none;

    button {
      padding: 6px;
      border-radius: var(--menu-border-radius);

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
    }

    img {
      filter: var(--svg-filter);
      width: 16px;
      height: 16px;
    }
  }

  &:hover {
    &,
    .stream-task-connector {
      background-color: var(--surface-secondary);
    }

    &:not(.editing) .more-options-btn-wrapper {
      display: block;
    }
  }

  &.completed {
    outline: 2px solid var(--ui-accent-color);

    .stream-task-connector {
      bottom: -14px;

      background-color: var(--ui-accent-color);
      color: var(--ui-accent-color);
    }
  }
}

#streamTaskTitleInputWrapper {
  display: flex;
  gap: 12px;
  align-items: center;

  .save-buttons .secondary-button {
    padding: 7px 8px;

    &:hover {
      background-color: transparent;
    }
  }

  .dynamic-text-area {
    padding-left: 0;
  }
}

.stream-task-connector {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);

  width: 3px;
  height: 12px;
  background-color: var(--surface-primary);
}
