#taskColumns {
  height: 100%;

  display: flex;
  gap: 12px;

  min-width: 800px;
  overflow-x: auto;
  max-width: 100%;
  justify-content: center;

  h2 {
    margin-bottom: 24px;
  }

  .task-column {
    padding: 16px 12px;
    min-width: calc((100% / 3) - 12px);

    background-color: var(--surface-primary);
    border-radius: var(--menu-border-radius);

    height: fit-content;
    max-height: 100%;

    display: grid;
    grid-template-rows: auto 1fr auto;

    .tasks {
      overflow-y: auto;
    }

    .complete-tasks-header {
      text-align: left;
      padding: 8px 0 4px 0;
    }

    .no-tasks-message,
    .complete-tasks-header {
      color: var(--text-color-secondary);
    }

    .new-task-tile {
      margin-top: 5px;

      display: flex;
      align-items: center;

      border-radius: 5px;
      min-height: 60px;
      padding: 10px;

      .dynamic-text-area {
        min-width: 100px;
        max-width: 100%;
        width: 100%;

        font-size: 16px;
        border: none;
      }
    }

    .task-column-action-bar {
      text-align: left;
      color: var(--text-color-secondary);
      display: grid;
      width: 100%;
      grid-template-columns: auto 28px;
      gap: 8px;

      button {
        display: flex;
        align-items: center;
        gap: 6px;

        padding: 4px 6px;
        border-radius: var(--menu-border-radius);

        white-space: nowrap;
        width: 100%;

        &:hover {
          background-color: var(--surface-active);
          box-shadow: none;
        }

        img {
          width: 16px;
          height: 16px;

          filter: var(--svg-filter);
        }
      }
    }

    &,
    .tasks {
      display: flex;
      flex-direction: column;
    }

    .tasks {
      gap: 6px;
    }
  }
}
