#streamsPage {
  width: calc(100vw - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#streamsDashboard,
#streamEditor {
  max-width: 1096px;
  background-color: var(--surface-primary-dark);

  width: 80%;
  height: 80%;

  padding: 16px 20px;

  display: grid;
  grid-template-rows: min-content auto min-content;

  .header {
    padding: 6px 0 12px 0;
  }
}

#streamList,
#streamTaskListWrapper {
  padding: 16px;
  overflow-y: auto;
}

#streamsDashboard {
  #streamList {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  #emptyStreamListMessage {
    margin-top: 12px;
  }
}

#streamEditor {
  .back-button {
    position: fixed;
    left: 12px;
    top: 12px;

    padding: 8px 10px 6px 8px;
    border-radius: var(--menu-border-radius);

    img {
      filter: var(--svg-filter);
    }

    &:active {
      top: 13px;
    }

    &:hover {
      background-color: var(--surface-active);
    }
  }

  #streamTaskListWrapper .text-secondary {
    margin-bottom: 16px;
  }

  .action-bar {
    margin-top: 16px;

    display: flex;
    justify-content: center;
    gap: 12px;

    #saveStreamButton {
      position: fixed;
      right: 16px;
      bottom: 16px;

      &:active {
        top: initial;
        bottom: 15px;
      }
    }
  }
}
